/* ion-content {
}

ion-item {
    --background: #FFFFFF;
    --color: #000;
}


ion-list {
    --background: #FFFFFF;
} */

/* ion-card {
    
} */

/* padding to make calendar buttons fit */
ion-button {
    --padding-end: 7px;
    --padding-start: 7px;    
}