/* ion-content {
    --background: #FFFFFF;
    --color: #000;
}

ion-item {
    --background: #FFFFFF;
    --color: #000;
}

ion-toolbar {
    --background: #ddddddce;
    --color: #000;
}

ion-list {
    --background: #FFFFFF;
}

ion-card {
    --background: #FFFFFF;
    --color: #000;
} */